<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224006562546-dckqn6mf2grkdgh8tsj2sc1ig6m72mr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224006562546-dckqn6mf2grkdgh8tsj2sc1ig6m72mr7</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ZLBlJGbiyn5YPaI1hGyvv40yD8ZsbIs</string>
	<key>GCM_SENDER_ID</key>
	<string>224006562546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecboks.bequeen</string>
	<key>PROJECT_ID</key>
	<string>bequeenhn</string>
	<key>STORAGE_BUCKET</key>
	<string>bequeenhn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224006562546:ios:e31cd451788919a59b266b</string>
</dict>
</plist>